a {
  cursor: pointer;
}

#title2,
#title1,
#title {
  font-family: "Playfair Display", serif;
  margin: 50px;
  margin-bottom: -20px;
  text-align: center;
}

#not-selected-line {
  opacity: 0.6;
}

#annotations .annotation-note-bg {
  fill: #751f36;
  fill-opacity: 0.3;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#visual1-container {
  width: 1350px;
  margin-left: 12%;
}

#selected {
  font-weight: bold;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  background: black;
  color: white;
  border-radius: 2px;
  padding: 10px;
  min-width: 320px;
  max-width: 320px;
  opacity: 0.7;
  max-height: 20px;
  display: none;
}

.y-axis {
  display: none;
}

#slider-range {
  margin-top: 10px;
  margin-bottom: -10px;
  width: 100%;
}

#value-range {
  margin-left: 150px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.y-axis-label {
  font-family: "Open Sans", sans-serif;
}

#grid-container {
  display: grid;
  grid-template-columns: 320px 450px 450px;
  grid-gap: 10px;
  padding: 10px;
}

#title1 {
  text-align: center;
  height: 50px;
}

li {
  list-style-type: none;
  margin-bottom: 6px;
  text-align: center;
  font-size: 13px;
}

.col-sm {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 900px;
  margin-left: -8px;
}

#value-range {
  margin-left: 0px;
  margin-top: 40px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 350px;
  text-align: center;
}

#slider-range {
  margin-left: 120px;
  width: 780px;
}

.flex-container {
  display: flex;
}

#visual1 {
  width: 900px;
}

#countries {
  padding: 1.5rem;
  margin-left: 15px;
  text-align: center;
  max-width: 16rem;
  padding: 2rem;
}

#countries-title {
  margin-top: -30px;
  margin-left: -25px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #f3f3f3; */
  padding: 1rem;
  margin-left: 12%;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  min-width: 340px;
  max-width: 20rem;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 90%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: white;
  z-index: 0;
}

.step {
  margin: 0 auto 2rem auto;
  background-color: white;
  color: #fff;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: white;
  color: #3b3b3b;
}

.step p {
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  margin-top: -50px;
}

.step h2 {
  padding: 2rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin-top: 10px;
}

.figure2-container {
  background-color: white;
  transition: transform 1s 0s;
}

.removed {
  transform: translateX(100vw);
}

#chart {
  margin-left: 50px;
  margin-top: 20px;
}

.legend {
  background-color: red;
}

.legend-text {
  font-size: 12px;
}

.annotation-note-label {
  font-size: 11px;
}

.annotation-note-title {
  font-size: 15px;
}

#annotations2 {
  background-color: red;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  background: black;
  color: white;
  border-radius: 2px;
  padding: 10px;
  min-width: 320px;
  max-width: 320px;
  opacity: 0.7;
  max-height: 100px;
}

.y-axis2,
.y-axis2-label,
.x-axis2,
.x-axis2-label {
  font-size: 13px;
}

.x-axis2 {
  font-size: 13px;
}

circle.selected-dots2:hover {
  fill: red;
}

#scroll,
#subtitle1,
#subtitle {
  text-align: center;
}

p#introduction {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
